h1 {
    color: blue;
}

p,
li {
    font-size: large;
}

.index {
    color: blueviolet;
}

li.index {
    color: rgb(3, 9, 92);
}

ul.coliflor li {
    color: green;
}

img + p {
    color: rgb(217, 86, 108);
    text-decoration: overline;
}

ol {
    list-style-type: lower-roman;
}

h2 {
    padding: 25px;
}

li {
    margin-right: 1250px;
}

img.portada {
    height: 550px;
    width: 550px;
}

.Ingredientes {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.Ingredientes thead tr {
    background-color: #980081;
    color: #ffffff;
    text-align: middle; 
}

.Ingredientes th, .Ingredientes td {
    padding: 12px 15px;
}

.Ingredientes tbody tr {
    border-bottom: 1px solid #dddd;
    
}

.Ingredientes tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.Ingredientes tbody tr:last-of-type {
    border-bottom: 2px solid #980081;
}